<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authorization>
                <remove users="RVCC\G00122557" roles="" verbs="" />
                <remove users="" roles="RVCC\!sec_rvccmcfilesvr04_FTP_Users_rw" verbs="" />
                <add accessType="Allow" users="ACADEMIC\G00301609" />
                <add accessType="Allow" roles="RVCC\!sec_rvccmcfilesvr04_FTP_Users_rw" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
